/*---------------------------------------
    NavBar section              
-----------------------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: #1260CC;
    color: #fff;
}

.logo {
    padding-left: 5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 38px;
    font-weight: bold;
}


.lang_btn {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-right: 20px;
}

.lang_btn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;

}


/*---------------------------------------
    Main section              
-----------------------------------------*/
.post-wrapper {
    display: flex;
    margin: 10px;
}

.text-wrapper {
    margin-bottom: 2vh;
    padding-left: 5rem;
    padding-top: 1rem;
    position: relative;
}

.post-image {
    margin-top: 2vh;
    width: 50vw;
    height: 40vh;
}

.post-header {
    font-size: 40px;
}

.post-content {
    font-size: 30px;
}

.read_more_button {
    display: inline-block;
    border-radius: 30px;
    background-color: #1260CC;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 1rem;
}

.read_more_button:hover {
    background-color: #1a237e;
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .post-wrapper {
        display: table-row;
    }

    .text-wrapper {
        margin-bottom: 2vh;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-top: 0rem;
        position: relative;
    }

    .post-image {
        width: 100VW;
        height: fit-content;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .read_more_button {
        display: inline-block;
        border-radius: 30px;
        background-color: #1260CC;
        color: #ffffff;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        position: absolute;
        bottom: 0rem;
    }
}
  